name: Automated Tests

on:
  schedule:  
  - cron: "*/15 * * * *" #update every 15 minutes

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      env:
        VUE_APP_PDAP_API_KEY: ${{ secrets.VUE_APP_PDAP_API_KEY }}
	SECRET_KEY: ${{ secrets.SECRET_KEY }}
      run: python regular_api_checks.py
